@charset "utf-8";

	{
 	margin: 0;
 	padding: 0;
 	}

 	body{

 		background-color: #380070; /* color of page background */
 		
  		color: #00A081; /*color of text itself*/
 		font-size: 1.3em;
 		font-weight: 100;
 		font-family: "Trebuchet MS", Helvetica, sans-serif;
 		text-shadow: 0px 0px 7px #00A081; /* color of text shadow */
 	}S

 	canvas{
 		width: 90%;
 		height: 75%;
	}